*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background: #f7edff;
}
.buttons{
    margin: 50px;
}
.buttons button{
    width: 120px;
    background: #333;
    color: #fff;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
}
#toast-box{
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding: 20px;
}
.toast{
    height: 80px;
    width: 400px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    font-weight: 500;
    border-radius: 7px;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
    
}
.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.failed .toast i{
    margin: 0 20px;
    font-size: 35px;
    color: rgb(250, 0, 0);
}
.toast.failed i{
    color: red;
}
.toast.invalid i{
    color: #ffdf0e;
}
.toast::after{
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: green;
    animation: anim 5s linear forwards;
}
.toast.failed::after{
    background-color: red;
}
.toast.invalid::after{
    background-color:#ffdf0e; ;
}
@keyframes anim {
    100%{
        width: 0;
    }
    
}